<h1>ようこそ！</h1>

<% if user_signed_in? %>
  <p>こんにちは、<%= current_user.name || "LINEユーザー" %></p>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "LINEでログイン", "/users/auth/line", method: :post, data: { turbo: false } %>
  <!-- <%= link_to "LINEでログイン", user_line_omniauth_authorize_path, method: :get, data: { turbo: false } %> -->


<% end %>